body {
  margin: 0 auto 200px auto;
  width: 1200px;
  background-color: #ddd;
  color: #222;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}
body.dark-mode {
  background-color: #222;
  color: #ddd;
}

h1,
h2,
h3 {
  text-align: left;
  color: #000;
}
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3 {
  color: #fff;
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
p {
  line-height: 1.5;
}

#header {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 48px;
  margin: 24px;
}
#header img {
  height: 64px;
  margin-right: 16px;
}
#header button {
  margin-left: auto;
  height: 48px;
  width: 48px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
#header button img {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0px;
}

#employee_cards_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.employee-card {
  height: 400px;
  border: 1px solid #666;
  border-radius: 10px;
  margin: 20px;
}
body.dark-mode .employee-card {
  border: 1px solid #ddd;
}
.employee-card img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}
.employee-card h3 {
  font-size: 18px;
  margin-top: 0;
  text-align: center;
  font-weight: 900;
}
.employee-card p {
  text-align: center;
  margin: 0 auto;
}

.indent_32 {
  margin-left: 32px;
}

.indent_48 {
  margin-left: 48px;
}

.accent {
  font-weight: 700;
  font-style: italic;
}
