{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/footer.css' %}">
{% endblock styles %}

{% comment %} Footer {% endcomment %}
<footer class="footer text-center text-md-start">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-4 mb-md-0 px-5">
        <h5 class="mb-3">BARBER'S HUB</h5>
        <p>Мужские стрижки и уход за прической с профессиональным подходом.</p>
      </div>
      <div class="col-lg-4 mb-4 mb-md-0 px-5">
        <h5 class="mb-3">Быстрые ссылки</h5>
        <ul>
          <li>
            <a href="{% url 'landing' %}#hero">Главная</a>
          </li>
          <li>
            <a href="{% url 'landing' %}#services">Услуги</a>
          </li>
          <li>
            <a href="{% url 'landing' %}#masters">Мастера</a>
          </li>
          <li>
            <a href="{% url 'landing' %}#about">О нас</a>
          </li>
          <li>
            <a href="{% url 'landing' %}#contact">Контакты</a>
          </li>
          <li>
            <a href="{% url 'thanks' %}">[DEV] Спасибо!</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 px-5">
        <h5 class="mb-3">Контакты</h5>
        <ul>
          <li>
            <i class="bi bi-envelope me-2"></i> info@barbershub.kg
          </li>
          <li>
            <i class="bi bi-telephone me-2"></i> +996 99 123 4567
          </li>
          <li>
            <i class="bi bi-geo-alt me-2"></i> ул. Торговая, 123, Бишкек
          </li>
        </ul>
      </div>
    </div>
    <div class="copyright px-5">
      <p class="mb-0">&#xA9; 2023 Barber's Hub. Все права защищены.</p>
    </div>
  </div>
</footer>
