

input[type="time"] {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 10px;
  border: solid 2px var(--text-color);
}

input[type="checkbox"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:checked,
input[type="radio"]:active,
input[type="radio"]:focus,
input[type="radio"]:checked {
  outline: none;
  background-color: var(--background-color);
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: solid 1px var(--text-color);
  background-color: var(--background-color);
  margin: 0 0 0 10px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"]:checked::after {
  content: " ";
  display: inline-block;
  color: var(--text-color);
  background-color: var(--text-color);
  width: 12px;
  height: 12px;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;

  border: solid 1px var(--text-color);
  background-color: var(--background-color);
  margin: 0 0 0 10px;
  border-radius: 50%;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
}

input[type="radio"]:checked::after {
  content: " ";
  display: inline-block;
  color: var(--text-color);
  background-color: var(--text-color);
  font-size: 18px;
  height: 18px;
  width: 18px;
  text-align: center;
  line-height: 1;
  /* transform: translate(0, -2px); */
  border-radius: 50%;
}

input[type="text"]:active,
input[type="text"]:focus,
textarea:active,
textarea:focus,
input[type="tel"]:active,
input[type="tel"]:focus,
input[type="time"]:active,
input[type="time"]:focus,
input[type="email"]:active,
input[type="email"]:focus,
button:active,
button:focus {
  outline: none;
}

input[type="text"]:hover,
input[type="text"]:active,
input[type="text"]:focus,
input[type="tel"]:hover,
input[type="tel"]:active,
input[type="tel"]:focus,
input[type="email"]:hover,
input[type="email"]:active,
input[type="email"]:focus,
textarea:hover,
textarea:active,
textarea:focus,
button:hover,
button:active,
button:focus {
  box-shadow: var(--highlight-box-shadow);
}

input[type="submit"],
button {
  content: "";
  width: 200px;
  align-self: center;
  padding: 20px;
  cursor: pointer;
  border: none;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 22px;
  margin: 20px 0;
}

input[type="submit"]:hover,
button:hover {
  box-shadow: var(--highlight-box-shadow);
}

