
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  width: 800px;
  margin: 200px 0;

  background-image: url(../img/form_bg.png);
  background-repeat: no-repeat;
  background-color: var(--primary-color);

  border: solid 2px var(--secondary-color);
}
  .form-container h1 {
    text-align: left;
    width: 90%;
    text-shadow: var(--highlight-on-primary-text-shadow);
  }
  .form-container ::selection,
  .form-container ::-moz-selection {
    color: var(--background-color);
    background-color: var(--text-color);
  }

  .input-field {
    border-radius: 5px;
    border: solid 2px var(--secondary-color);
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 10px;
    width: 90%;
    align-items: center;
    display: flex;
  }
    .input-field:hover {
      box-shadow: var(--highlight-box-shadow);
    }
    .input-field > input[type="text"],
    .input-field > input[type="tel"],
    .input-field > textarea,
    .input-field > input[type="email"] {
      background-color: var(--background-color);
      color: var(--text-color);
      border: none;
      width: 100%;
      height: 100%;
      padding: 20px;
    }

  .custom-input-field {
    border-radius: 5px;
    border: solid 2px var(--secondary-color);
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 10px;
    width: 90%;
    align-items: center;
    padding: 20px;
  }
    .custom-input-field input:hover,
    .custom-input-field select:hover {
      box-shadow: 1px 1px 3px var(--text-color);
    }
    .time-container:hover,
    .intercom-checkbox-container:hover,
    .call-radio-container:hover {
      box-shadow: var(--highlight-box-shadow);
    }
  .time-container,
  .time-container > div,
  .intercom-checkbox-container,
  .intercom-checkbox-container > div,
  .call-radio-container,
  .call-radio-container > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
    .call-radio-container label:not(label:first-child) {
      margin: 0 0 0 10px;
    }

    .time-container #time,
    .time-container #or {
      transition: opacity 0.5s ease;
    }
    .time-container select {
      border: solid 1px var(--text-color);
      border-radius: none;
      color: var(--text-color);
      background-color: var(--background-color);
      font-size: 20px;
    }

  .time-container .required-asterisk {
    transform: translateX(32px);
  }

  label[for="payment"] {
    display: block;
    margin-bottom: 20px;
  }

  .payment-radio-container {
    display: flex;
    align-items: center;
  }
  .payment-radio-container > div {
    width: 100%;
  }
    .payment-option {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 0;
    }
    .payment-radio-container .required-asterisk {
      transform: translateX(32px);
      margin: auto 0;
    }


    .required-asterisk {
      display: inline-block;
      font-size: 24px;
      font-weight: 900;
      text-shadow: var(--highlight-on-primary-text-shadow);
      width: 0;
      transform: translateX(12px);
      cursor: pointer;
      opacity: 0;

      transition: opacity 0.5s easy;
    }
      abbr {
        text-decoration: none;
        
      }