.order-panel {
  display: flex;
  height: max-content;
}
  .order-panel:hover {
    box-shadow: var(--highlight-box-shadow);
  }
  .order-panel .required-asterisk {
    transform: translateX(32px);
  }
  .whole-order-fieldset {
    width: 50%;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-top-color: transparent;
  }
    .whole-order-fieldset input:hover {
      box-shadow: 1px 1px 3px var(--text-color);
    }
    fieldset {
      padding: 20px;
      margin: 10px 0;
      border-color: var(--text-color) transparent transparent transparent;
    }
      fieldset button {
        border: solid 1px var(--text-color);
        padding: 10px;
      }
        fieldset button:hover {
          box-shadow: 1px 1px 3px var(--text-color);
        }

      .type-fieldset,
      .size-fieldset,
      .toppings-fieldset {
        width: 100%;
      }
        .order-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 10px;
        }
          .order-item input {
            margin: 0 10px;
          }

.cart-overview-textarea {
  width: 50%;
  height: 725px;
  background-color: var(--background-color);
  color: var(--text-color);
  border: solid 1px var(--text-color);
  align-self: flex-start;
  box-shadow: none;
}
.cart-overview-textarea:hover,
.cart-overview-textarea:active,
.cart-overview-textarea:focus {
  box-shadow: none;
}

.order-content {
  border: solid 1px var(--text-color);
  width: 50%;
  height: 725px;
  padding: 10px;
  overflow-y: scroll;
}
  .pizza-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;

  }
    .pizza-str {
      display: inline-block;
      width: calc(100% - 20px);
      word-wrap: break-word;
    }
    .remove-pizza-item-button {
      display: inline-block;
      cursor: pointer;
      background-image: url("../img/delete_icon.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
    }