body {
    margin: 0;
    background-color: #ddd;
    color: #222;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}
    body.dark-mode {
        background-color: #222;
        color: #ddd;
    }
    h1 {
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: left;
        font-size: 48px;
        margin: 24px;
    }
        h1 img {
            height: 64px;
            margin-right: 16px;
        }
        h1 button {
            margin-left: auto;
            height: 48px;
            width: 48px;
            border: none;
            background-color: transparent;
            cursor: pointer;
            padding: 0;
        }
            h1 button img {
                border: solid 1px #ddd;
                border-radius: 50%;
                background-color: #ddd;
                margin: 0;
                width: 100%;
                height: 100%;
                padding:0px;
            }
            body.dark-mode h1 button img {
                border: solid 1px #222;
                background-color: #222;
            }
    h2 {
        text-align: left;
        margin: 32px;
    }
    p {
        margin: 32px 32px 32px 48px;
        width: 75%;
    }
    ul {
        padding: 0;
        margin: 32px 32px 32px 48px;
        list-style-type: none;
    }